.clearfix
  clear: both

*
  box-sizing: border-box

body
  font-family: Arial, $font-roboto
  color: $color-dark-gray

a
  color: $color-red

  &:hover
    color: $color-dark-red

  &.-linkback,
  &.-linkforward
    position: relative
    
    &:hover::before
      border-color: $color-dark-red

  &.-linkback
    margin-left: 15px

  &.-linkforward
    margin-right: 15px
    float: right

  &.-linkback::before,
  &.-linkforward::after
    content: ""
    display: block
    width: 7px
    height: 7px
    background-color: transparent
    border: 1px solid $color-red
    border-top: none
    border-right: none
    position: absolute

  &.-linkback::before
    top: 5px
    left: -12px
    transform: rotate(45deg)

  &.-linkforward::after
    top: 5px
    right: -12px
    transform: rotate(-135deg)

h1,
h2,
h3,
h4,
h5,
h6
  color: $color-almost-black
  font-family: $font-roboto

  &.-mt40
    margin-top: 40px

h1
  font-size: 35px
  margin-bottom: 15px

h2
  font-size: 22px

h3
  font-size: 16px
  margin-bottom: 10px

.button
  display: inline-block
  height: 35px
  border: none
  line-height: 35px
  text-align: center
  font-size: 14px
  cursor: pointer
  padding: 0 30px

  &:hover
    filter: brightness(.85)

  &.-red
    background-color: $color-red
    color: #fff

  &.-gray
    background-color: $color-gray
    color: $color-almost-black

  &.-block
    display: block

  &.-mt20
    margin-top: 20px


input[type="checkbox"]
  display: none

  & + label
    cursor: pointer
    position: relative
    margin-left: 45px
    font-size: 14px

  & + label::before
    content: " "
    display: inline-block
    width: 18px
    height: 18px
    border: 1px solid $color-light-gray
    font-size: 14px
    text-align: center
    line-height: 14px
    position: absolute
    left: -25px
    box-sizing: border-box
    color: #fff

  &:checked + label::before
    content: "✓"
    padding-left: 2px
    background-color: $color-red
    border-color: $color-red

.radio
  margin: 15px 0

  &>.subradio
    height: 0
    display: none
    padding-left: 20px

    &>.seclevel
      margin: 15px 0
      line-height: 16px

  &>input[type="radio"]
    display: none

    & + label
      cursor: pointer
      position: relative
      margin-left: 45px

    & + label::before
      content: " "
      display: inline-block
      width: 18px
      height: 18px
      border-radius: 50%
      border: 1px solid $color-light-gray
      font-size: 14px
      text-align: center
      line-height: 14px
      position: absolute
      left: -25px
      box-sizing: border-box
      color: #fff

    &:checked + label::before
      content: "●"
      background-color: $color-red
      border-color: $color-red

    &:checked ~ .subradio
      height: auto
      display: block

input[type="text"],
select,
textarea
  width: 31%
  height: 40px
  border: 1px solid $color-light-gray
  padding-left: 10px

  &.-block
    display: block
    width: 300px
    margin: 15px 0

textarea
  width: 100%
  max-width: 100%
  min-size: 100%
  min-height: 70px
  padding: 10px