@charset "UTF-8";
@import url(reset.css);
.page-header {
  width: 100%;
  height: 60px;
  padding: 0 10%;
  background-color: white;
  margin-bottom: 330px;
}
.page-header > a > .logo {
  height: 30px;
  width: 112px;
  margin: 15px 0;
  float: left;
}
.page-header > a > .logo:hover {
  fill: #ed4e42;
}
.page-header > .menu {
  float: right;
}
.page-header > .menu > a {
  font-family: "Roboto", sans-serif;
  position: relative;
  display: inline-block;
  padding: 0 10px;
  line-height: 60px;
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.page-header > .menu > a:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #ed4e42;
  transform: scale(0);
  opacity: 0;
  will-change: opacity, transform;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.page-header > .menu > a:hover {
  color: #ed4e42;
}
.page-header > .menu > a:hover:after {
  transform: scale(1);
  opacity: 1;
}
.page-header > .menu > a:not(:first-child) {
  margin-left: 24px;
}
.page-header .cover {
  width: calc(100vw - 14px);
  margin-left: -10vw;
  height: 330px;
  z-index: 1;
  background-image: url("../images/cover.jpg");
}

.page-content {
  width: 80%;
  background-color: white;
  margin: -120px auto 0 auto;
  z-index: 10;
  padding: 20px 30px 120px;
}

.choose-subject > .title {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 25px;
}
.choose-subject > form {
  display: inline;
}
.choose-subject > select {
  margin-right: 2.5%;
}
.choose-subject > select > option {
  color: black;
}
.choose-subject > select > option[disabled] {
  display: none;
}
.choose-subject > select,
.choose-subject > form > input {
  width: 31%;
  height: 40px;
  border: 1px solid gainsboro;
  padding-left: 10px;
}
.choose-subject .search {
  background-color: transparent;
  width: 40px;
  height: 40px;
  margin: 0 -45px -5px;
  border: none;
  padding: 5px;
  position: relative;
  top: 10px;
  cursor: pointer;
}
.choose-subject .search > .loupe {
  width: 30px;
  height: 30px;
  fill: #c8c8c8;
}
.choose-subject .search:hover > .loupe {
  fill: black;
}
.choose-subject > .sort {
  width: 100%;
  margin-top: 25px;
  font-size: 12px;
}
.choose-subject > .sort > span {
  color: #666666;
}
.choose-subject > .sort > .tinyinput {
  width: 130px;
  height: 20px;
  border: none;
}

.courses-list {
  width: 100%;
  padding-top: 30px;
}
.courses-list > .course {
  display: block;
  width: 60%;
  border-top: 1px solid gainsboro;
  padding: 13px 0;
}
.courses-list > .course:last-child {
  border-bottom: 1px solid gainsboro;
}
.courses-list > .course > .title {
  color: #ed4e42;
  font-size: 17px;
  display: block;
}
.courses-list > .course > .title:hover {
  color: #983233;
}
.courses-list > .course > .lecturer {
  color: #666666;
  font-size: 15px;
}
.courses-list > .course > .lecturer:hover {
  color: black;
}
.courses-list > .showmore {
  width: 60%;
  height: 40px;
  background-color: gainsboro;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}

.clearfix {
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  margin-left: 45px;
}
input[type="checkbox"] + label::before {
  content: " ";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid gainsboro;
  font-size: 14px;
  text-align: center;
  line-height: 14px;
  position: absolute;
  top: -2px;
  left: -25px;
  box-sizing: border-box;
  color: white;
}
input[type="checkbox"]:checked + label::before {
  content: "✓";
  padding-left: 2px;
  background-color: #ed4e42;
  border-color: #ed4e42;
}
