@charset "UTF-8";
@import url(reset.css);
.clearfix {
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Roboto", sans-serif;
  color: #666666;
}

a {
  color: #ed4e42;
}
a:hover {
  color: #983233;
}
a.-linkback {
  position: relative;
  margin-left: 15px;
}
a.-linkback + h1 {
  margin: 10px 0 36px 0;
}
a.-linkback::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  background-color: transparent;
  border: 1px solid #ed4e42;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 5px;
  left: -12px;
}
a.-linkback:hover::before {
  border-color: #983233;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 35px;
  margin-bottom: 15px;
}

h3 {
  font-size: 16px;
}

.button {
  display: block;
  height: 40px;
  border: none;
  line-height: 40px;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
}
.button:hover {
  filter: brightness(0.85);
}
.button.-red {
  background-color: #ed4e42;
  color: white;
}
.button.-gray {
  background-color: #c8c8c8;
  color: #222222;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  margin-left: 45px;
}
input[type="checkbox"] + label::before {
  content: " ";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid gainsboro;
  font-size: 14px;
  text-align: center;
  line-height: 14px;
  position: absolute;
  top: -2px;
  left: -25px;
  box-sizing: border-box;
  color: white;
}
input[type="checkbox"]:checked + label::before {
  content: "✓";
  padding-left: 2px;
  background-color: #ed4e42;
  border-color: #ed4e42;
}

.page-header {
  width: 100%;
  height: 60px;
  padding: 0 10%;
  background-color: white;
  margin-bottom: 330px;
}
.page-header > a > .logo {
  height: 30px;
  width: 112px;
  margin: 15px 0;
  float: left;
}
.page-header > a > .logo:hover {
  fill: #ed4e42;
}
.page-header > .menu {
  float: right;
}
.page-header > .menu > a {
  font-family: "Roboto", sans-serif;
  position: relative;
  display: inline-block;
  padding: 0 10px;
  line-height: 60px;
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.page-header > .menu > a:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #ed4e42;
  transform: scale(0);
  opacity: 0;
  will-change: opacity, transform;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.page-header > .menu > a:hover {
  color: #ed4e42;
}
.page-header > .menu > a:hover:after {
  transform: scale(1);
  opacity: 1;
}
.page-header > .menu > a:not(:first-child) {
  margin-left: 24px;
}
.page-header .cover {
  width: 100%;
  position: absolute;
  margin-left: -10vw;
  height: 330px;
  z-index: -1;
  background-image: url("../images/cover.jpg");
}

.page-content {
  width: 80%;
  background-color: white;
  margin: -120px auto 0 auto;
  z-index: 10;
  padding: 20px 30px 120px;
}

.choose-subject > form {
  display: inline;
}
.choose-subject > select {
  margin-right: 2.5%;
}
.choose-subject > select:focus {
  border-color: #ed4e42;
}
.choose-subject > select > option {
  color: black;
  height: 40px;
  line-height: 40px;
  padding: 10px;
}
.choose-subject > select > option[disabled] {
  display: none;
}
.choose-subject > select,
.choose-subject > form > input {
  width: 31%;
  height: 40px;
  border: 1px solid gainsboro;
  padding-left: 10px;
}
.choose-subject .search {
  background-color: transparent;
  width: 40px;
  height: 40px;
  margin: 0 -45px -5px;
  border: none;
  padding: 5px;
  position: relative;
  top: 10px;
  cursor: pointer;
}
.choose-subject .search > .loupe {
  width: 30px;
  height: 30px;
  fill: #c8c8c8;
}
.choose-subject .search:hover > .loupe {
  fill: black;
}
.choose-subject > .sort {
  width: 100%;
  margin-top: 25px;
  font-size: 12px;
}
.choose-subject > .sort > span {
  color: #666666;
}
.choose-subject > .sort > .tinyinput {
  width: 130px;
  height: 20px;
  border: none;
}

.courses-list {
  width: 100%;
  padding-top: 30px;
}
.courses-list > .course {
  display: block;
  width: 60%;
  border: 1px solid gainsboro;
  padding: 13px 0;
}
.courses-list > .course:last-of-type {
  border-bottom: 1px solid gainsboro;
}
.courses-list > .course > .title {
  color: #ed4e42;
  font-size: 17px;
  display: block;
}
.courses-list > .course > .title:hover {
  color: #983233;
}
.courses-list > .course > .lecturer {
  color: #666666;
  font-size: 15px;
}
.courses-list > .course > .lecturer:hover {
  color: black;
}
.courses-list > .showmore {
  width: 60%;
  height: 40px;
  background-color: gainsboro;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}
.courses-list > .showmore:hover {
  background-color: #c8c8c8;
}

.course-desc > .desc {
  width: 70%;
  float: left;
}

.course-sidebar {
  width: 25%;
  float: right;
}
.course-sidebar > .info {
  margin-top: 15px;
  font-size: 14px;
}
.course-sidebar > .info > .colorblack {
  display: block;
  color: #222222;
  line-height: 25px;
}
.course-sidebar > .button:first-of-type {
  margin-top: 40px;
}

.lectures-list {
  margin-top: 50px;
  float: left;
  width: 70%;
  counter-reset: item;
}
.lectures-list > h3 {
  margin-bottom: 25px;
}
.lectures-list > li {
  display: block;
  width: 100%;
  height: 55px;
  border-top: 1px solid #c8c8c8;
  line-height: 55px;
  padding-left: 30px;
  color: #ed4e42;
  position: relative;
}
.lectures-list > li:last-of-type {
  border-bottom: 1px solid gainsboro;
}
.lectures-list > li:before {
  content: counter(item);
  counter-increment: item;
  color: #666666;
  position: absolute;
  left: 0;
}

.social-icons {
  width: 100%;
  height: 45px;
  margin: 30px 0;
}
.social-icons > a {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  padding-top: 12.5px;
  margin-right: 10px;
}
.social-icons > a > svg {
  fill: white;
}
.social-icons > .twitter {
  background-color: #55acee;
  padding-left: 2px;
}
.social-icons > .twitter:hover {
  background-color: #277ec0;
}
.social-icons > .twitter > svg {
  width: 25px;
  height: 20px;
}
.social-icons > .telegram {
  background-color: #5682a3;
  padding-right: 2px;
}
.social-icons > .telegram:hover {
  background-color: #3c6889;
}
.social-icons > .telegram > svg {
  width: 25px;
  height: 20px;
}
.social-icons > .vk {
  background-color: #4f7195;
  padding-left: 2px;
}
.social-icons > .vk:hover {
  background-color: #36587c;
}
.social-icons > .vk > svg {
  width: 15px;
  height: 20px;
}
