.social-icons
  a.link.-twitter(href="javascript:;")
    svg.svg-icon.-twitter(role="img" title="logo")
      use(xlink:href="icons.svg#icon-twitter")
  a.link.-telegram(href="javascript:;")
    svg.svg-icon.-telegram(role="img" title="logo")
      use(xlink:href="icons.svg#icon-telegram")
  a.link.-vk(href="javascript:;")
    svg.svg-icon.-vk(role="img" title="logo")
      use(xlink:href="icons.svg#icon-vk")