.courses-list
  margin-bottom: 100px

  > .course
    display: block
    width: 100%
    border-top: 1px solid $color-light-gray
    padding: 13px 0

    &:last-of-type
      border-bottom: 1px solid $color-light-gray
  
    > .title
      color: $color-red
      font-size: 16px
      display: block
      transition: color .3s

    > .title:hover
      color: darken($color-red, 20%)

    > .teacher
      color: $color-dark-gray
      font-size: 12px
      line-height: 15px
      transition: color .3s

    > .teacher:hover
      color: #000

  > .showmore
    display: block
    text-align: center
    width: 100%
    padding: 15px 0
    line-height: 17px
    font-size: 14px
    background: $color-mostlight-gray
    cursor: pointer
    border: none
    margin-top: 50px
    transition: background-color .3s, color .3s

    &:hover
      background-color: darken($color-mostlight-gray, 10%)
      color: darken($color-red, 15%)