.lectures-list
  margin-top: 60px

  > .title
    font:
      family: 'GothamProBold'
      size: 16px
      weight: bold

  > .list
    margin: 25px 0
    counter-reset: item

    > .item
      position: relative
      width: 100%
      border-top: 1px solid $color-light-gray
      padding: 20px 0 20px 25px

      &:before
        content: counter(item)
        counter-increment: item
        color: $color-dark-gray
        position: absolute
        left: 0
        font-size: 14px

      &:last-of-type
        border-bottom: 1px solid $color-light-gray

    > .item > .link
      display: block
      color: $color-red
      font-size: 16px
      transition: color .3s ease

      &:hover
        color: darken($color-red, 15%)

    > .item > .delete
      display: block
      border: none
      width: 20px
      height: 20px
      position: absolute
      right: 20px
      top: 20px
      background-color: #FFF

      &:after
        content: "✖"
        color: $color-red
        position: absolute
        width: 20px
        top: 0
        left: 0
        text-align: center

    &.-tiny
      margin-top: 0

      > .item
        padding: 10px 0 10px 30px
