.news-item
  display: block
  margin-bottom: 35px

  >.image
    float: left

    & > img
      height: 200px
      width: 300px

    & + .info
      width: calc(100% - 320px)
      margin-left: 20px

  >.info
    float: left
    
    >.date
      color: $color-dark-gray
      font-size: 12px
      display: block

    >.title
      font-size: 16px
      font-weight: bold
      display: block
      margin: 5px 0

    >.text
      font-size: 15px