.sort-tools
	padding: 20px 0
	margin-top: 20px
	+clearfix
	
	> .type
		float: left
		margin-right: 50px

	> .type > .label
		font-size: 12px
		line-height: 15px
		color: $color-dark-gray

	> .type > .select
		font-size: 12px
		line-height: 15px

	> .contains > .field > label
		font-size: 12px
		line-height: 15px