html
  head
    block meta
    meta(charset="UTF8")
    link(rel="stylesheet" href="styles/styles.css")
  body
    .site-header
      .wrapper
        a.logo-box(href="javascript:;")
          svg.img(role="img" title="logo")
            use(xlink:href="images/icons.svg#logo")
        nav.menu-nav
          a.link(href="javascript:;") Курсы
          a.link(href="javascript:;") Новости
          a.link(href="javascript:;") О проекте
          a.link(href="javascript:;") Хочу помочь
    block content