html
  head
    block meta
    meta(charset="UTF8")
    link(rel="stylesheet", href="styles/styles.css")
  body
    .site-header
      a(href="https://www.kursomir.ru")
        svg.logo(role="img", title="logo")
          use(xlink:href="images/icons.svg#logo")

      nav.menu
        a Курсы
        a Новости
        a О проекте
      .clearfix
      .cover
        block cover

    block page-wrap
