html
  head
    block meta
    meta(charset="UTF8")
    link(rel="stylesheet" href="styles/styles.css")
  body
    .content-wrap.-header
      .site-header
        a.logo(href="javascript:;")
          svg.img.icon.icon-logo(role="img" title="logo")
            use(xlink:href="icons.svg#icon-logo")
        nav.menu
          a.link Курсы
          a.link Новости
          a.link О проекте
          a.link Хочу помочь
        .clearfix
    block cover
    block page-wrap