html
  head
    block meta
    meta(charset="UTF8")
    link(rel="stylesheet", href="css/styles.css")
  body
    .page-header
      a(href="https://www.kursomir.ru")
        svg.logo(role="img", title="logo")
          use(xlink:href="images/logo.svg#logo")

      nav.menu
        a Курсы
        a Новости
        a О проекте
      .clearfix
      .cover

    .page-content
      block content