extends layouts/index

block meta
  title Курсы

block content
  - var subtopics = ["Физика", "Химия", "Математика", "История искусства", "Музыка"];
  - var specialty = ["Теория музыки", "История музыки", "Исполнение музыки"];

  .head-cover(style="background-image: url('../images/curiosity.png')")
  .document-content
    .content-head
      .wrapper
        h1.title Курсы
        select.select-box(name="subtopic")
          option(value="" selected) Предмет
          for stopic in subtopics
            option
              = stopic
        select.select-box(name="specialty")
          option(value="" selected) Направление
          for spec in specialty
            option
              = spec
        form.search-box
          input.input(type="text" placeholder="Поиск")
          button.submit(type="submit")
            svg.icon.icon-loupe.loupe(role="img" title="loupe")
              use(xlink:href="icons.svg#icon-loupe")
    .content-body
      .wrapper
        .content-body-main
          .sort-tools
            .sort-tools-type
              span.label Сортировать по:
              select.select
                option Названию
                option Дате добавления
                option Имени лектора
            .sort-tools-contains
              .field
                input.checkbox(type="checkbox" id="contains")
                label(for="contains") Содержит видео/аудио
          .list-box
            .list
              - for (var i=0; i<=10; i++)
                li.course-item
                  a.title(href="javascript:;") Mechanics of Material Systems
                  a.teacher(href="javascript:;") Кевин Колтер
            a.showmore(href="javascript:;") Показать еще 50