extends layouts/index

block meta
  title Астрономия. Вводный курс

block content
  - var sciences = ["Физика", "Химия", "Математика", "История искусства", "Музыка"];
  - var directions = ["Теория музыки", "История музыки", "Исполнение музыки"];

  .head-cover(style="background-image: url('../images/cover.jpg')")
  .document-content
    .content-head
      .wrapper
        .course-head
          .form-field
            label.label Наука
            select.select-box.-normal(name="science")
              for science in sciences
                option= science
          .form-field
            label.label Направление
            select.select-box.-normal(name="direction")
              for direction in directions
                option= direction
        h3.sidebar-title Информация о курсе:
    .content-body.-pt20
      .wrapper
        aside.content-body-sidebar
          section.single-section.-course-edit
            .section-item
              .form-field
                label.label(for="teacher") Преподаватель:
                input.input(type="text" id="teacher")
            .section-item
              .form-field
                label.label(for="course-number") Номер курса MIT:
                input.input(type="text" id="course-number")
            .section-item
              .form-field
                label.label(for="creating-date") Дата появления курса:
                input.input(type="text" id="creating-date")
            .section-item
              .form-field
                label.label(for="level") Уровень сложности:
                input.input(type="text" id="level")
          section.single-section.-course-edit
            h3.title Над курсом работали:
            .section-item
              select.select-box.-tiny(name="role")
                option Редактор
                option Переводчик
                option Верстальщик
              .form-field.-mt3
                input.input(type="text")
          section.single-section.-course-edit
            h3.title Дополнительные материалы:
            .section-item
              .form-field
                label.label(for="pdf") Курс в PDF
                .file
                  input(type="file" id="pdf")
                  .shell
                    svg.svg-icon.-more(role="img" title="more")
                      use(xlink:href="icons.svg#icon-more")
            .section-item
              .form-field
                label.label(for="zip") Задачи и решения
                .file
                  input(type="file" id="zip")
                  .loaded
                    | задачи_и_решения.zip
                    span.remove

        - var lectures =  ["Астрономы и объекты их интереса", "Телескопы", "Измерение пространства и времени", "Движение и гравитация", "Планетные системы", "Малые тела", "Звезды", "Галактика", "Космология"];
        .content-body-main.-course-edit
          .form-field
            label.label(for="title") Название курса
            input.input(type="text" id="title")
          .form-field
            label.label(for="description") Описание курса
            textarea.textarea(rows="7" id="description")
          .list-box
            h3.title Лекции:
            ul.list
              //- .lecture-item.-empty Пока лекций нет
              for lect in lectures
                li.lecture-item
                  a.link(href="javascript:;")= lect
                  button.delete
                  .draggable
                    svg.svg-icon.-more(role="img" title="more")
                      use(xlink:href="icons.svg#icon-more")
          a.button-box(href="javascript:;") Добавить лекцию
        ._clearfix
        footer.course-edit-footer
          .form-field
            input.checkbox(type="checkbox" id="publish")
            label(for="publish")
              svg.svg-icon.-check(role="img" title="loupe")
                  use(xlink:href="icons.svg#icon-check")
              | Опубликовать
          .actions
            a.button.-dark-gray(href="javascript:;") Отменить
            a.button.-green(href="javascript:;") Сохранить
