.choose-subject

  >form
    display: inline

  >select
    margin-right: 2.5%

    &:focus
      border-color: $color-red

    >option
      color: #000
      height: 40px
      line-height: 40px
      padding: 10px

    >option[disabled]
      display: none
  
  >select,
  >form >input
    width: 31%
    height: 40px
    border: 1px solid $color-light-gray
    padding-left: 10px

    
  & .search
    background-color: transparent
    width: 40px
    height: 40px
    margin: 0 -45px -5px
    border: none
    padding: 5px
    position: relative
    top: 10px
    cursor: pointer

    >.loupe
      width: 30px
      height: 30px
      fill: $color-gray

    &:hover >.loupe
      fill: #000

  >.sort
    width: 100%
    margin-top: 25px
    font-size: 12px

    >span
      color: $color-dark-gray

    >.tinyinput
      width: 130px
      height: 20px
      border: none